# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
tf_param/
pretrain/
outputs/
dataset/
.DS_Store